.features {
    padding-bottom: 60px;
    background-color: rgba(229, 229, 229, 0.26);
}
.item {
    background-color: #fff;
    border-radius: 8px;
}
.item-title {
    padding: 19px 0 8px 69px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.item-descr {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.item-descr__img {
    padding-left: 20px;
    padding-right: 17px;
}
.item-descr__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    min-height: 55px;
    max-height: 60px;
}
@media screen and (max-width: 1204px) {
    .item-descr__text {
        min-height: 60px;
    }
}
@media screen and (max-width: 992px) {
    .item {
        margin-bottom: 20px;
        width: 100%;
    }
    .item-descr__text {
        padding-right: 33px;
        min-height: 60px;
    }
}
@media screen and (max-width: 576px) {
    .item-descr__text {
        padding-right: 92px;
        min-height: 60px;
    }
}
@media screen and (max-width: 492px) {
    .item-descr__text {
        padding-right: 46px;
        min-height: 60px;
    }
}
@media screen and (max-width: 452px) {
    .item-descr__text {
        padding-right: 6px;
        min-height: 60px;
    }
}